<%- include("partials/header") %>

<div class="student-header">
  <div class="row">
    <div class="col">
      <h2>Available rooms</h2>
    </div>
    <div class="col">
      <button style="background-color: rgba(0, 0, 0, 0); color: white; border: none;" class="float-end"
        onClick="previous()" id="backward">Back</button>
    </div>
  </div>
</div>

<div class="margin"></div>
  <h1></h1>

  <% if (data.length > 0) { %>
    <table class="table table-striped w-75 m-auto">
      <tr>
        <th>Room Number/th>
        <th>Block</th>
        <th>Floor</th>
        <th>Capacity</th>
        <th>Status</th> <!-- Add more table columns as needed -->
      </tr>
      <% data.forEach(function(item) { %>
        <tr>
          <td><%= item.room_number %></td>
          <td><%= item.block %></td>
          <td><%= item.Floor %></td>
          <td><%= item.capacity %></td>
          <td><%= item.room_status %></td> 
          <!-- Add more table cells as needed -->
        </tr>
      <% }); %>
    </table>
  <% } else { %>
    <p>No data available.</p>
  <% } %>
  <%- include("partials/footer") %>