<%- include('partials/header') %>
    
<div class="student-header ">
    <div class="row">
        <div class="col-6"><h2>Student Profile</h2></div>
        <div class=" col">
            <form id="complaint-ren" action="/complaint-ren" method="post">
                <a href="" onclick="btnToLink(event)">Complaint</a>
            </form>
        </div>
        <div class="col">
            <a href="/checkAlloat">Allotment</a>
        </div>
        <div class="col">
            <a href="/search">Search</a>
        </div>
        <div class="col">
        <a href="/login">Logout</a>
        </div>
    </div>
</div>
<div class="margin"></div>
<div class="container-sm">
    <div class="row">
        <div class="w-50 col">
            <table class=" w-50 m-auto table table-striped">
                <tbody>
                <tr>
                    <th>Name:</th>
                    <td><%= name %></td>
                </tr>
                <tr>
                    <th>SID:</th>
                    <td><%= sid %></td>
                </tr>
            </tbody>
            
            </table>
            
        </div>
        
        
        <div class="w-50" style="position: fixed; bottom: 0;left: 60vh;">
            <table class="table table-success table-striped">
                <tr>
                    <th>Warden:</th>
                    <th>Gaurd:</th>
                    <th>Dean:</th>
                </tr>
                <tr>
                    <td>9876-XXXXXX</td>
                    <td>6789-XXXXXX</td>
                    <td>0172-XXXXXX</td>
                </tr>
            </table>
        </div>
    </div>
    
</div>
<figure <%= alert %> class="notification">
    <div class="notification_body">
  
      Complaint lodged! &#128640;
    </div>
    <div class="notification_progress"></div>
  </figure>

<%- include('partials/footer') %>